openweathermap-api-dashboard.json
[
  {
      "id": "8f87f6f5.bb1508",
      "type": "tab",
      "label": "Weather API",
      "disabled": false,
      "info": ""
  },
  {
      "id": "1a903163.fd6bff",
      "type": "openweathermap",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "wtype": "forecast",
      "lon": "",
      "lat": "",
      "city": "Temuco",
      "country": "Chile",
      "language": "es",
      "x": 340,
      "y": 740,
      "wires": [
          [
              "c5a980bd.f8a14"
          ]
      ]
  },
  {
      "id": "dc7896ca.47df38",
      "type": "inject",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 150,
      "y": 580,
      "wires": [
          [
              "1a903163.fd6bff",
              "9cc66ee1.0b213",
              "8607828d.01d4a",
              "e4a9612e.f4381",
              "22f20862.032068",
              "62cbcaf6.955674"
          ]
      ]
  },
  {
      "id": "c5a980bd.f8a14",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Obtener temperaturas",
      "func": "var temperatures = msg.payload.map(element => {\n    return({\n        \"x\": element.dt_txt,\n        \"y\": element.main.temp\n    })\n});\nmsg.payload = temperatures;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 580,
      "y": 740,
      "wires": [
          [
              "522e80de.90513"
          ]
      ]
  },
  {
      "id": "5a252c8.c468fd4",
      "type": "ui_chart",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "86cc6b94.a24918",
      "order": 18,
      "width": 0,
      "height": 0,
      "label": "Pronóstico Temperatura 5 Días",
      "chartType": "line",
      "legend": "false",
      "xformat": "HH:mm",
      "interpolate": "linear",
      "nodata": "No Data",
      "dot": false,
      "ymin": "0",
      "ymax": "40",
      "removeOlder": "40",
      "removeOlderPoints": "40",
      "removeOlderUnit": "1",
      "cutout": 0,
      "useOneColor": false,
      "useUTC": false,
      "colors": [
          "#1f77b4",
          "#aec7e8",
          "#ff7f0e",
          "#2ca02c",
          "#98df8a",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "outputs": 1,
      "useDifferentColor": false,
      "x": 1110,
      "y": 700,
      "wires": [
          []
      ]
  },
  {
      "id": "522e80de.90513",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Formatear Datos",
      "func": "var data = msg.payload.map(element => {\n    return ({\n        \"x\": element.x,\n        \"y\": element.y\n    })\n})\ndata = [{\n    \"series\": [\"Temperatura\"],\n    \"data\": [data],\n    \"labels\": [\"\"]\n}]\nmsg.payload = data;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 830,
      "y": 740,
      "wires": [
          [
              "5a252c8.c468fd4",
              "ce136aa9.e93898"
          ]
      ]
  },
  {
      "id": "ce136aa9.e93898",
      "type": "debug",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 1050,
      "y": 760,
      "wires": []
  },
  {
      "id": "9cc66ee1.0b213",
      "type": "openweathermap",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "wtype": "current",
      "lon": "",
      "lat": "",
      "city": "Temuco",
      "country": "Chile",
      "language": "es",
      "x": 340,
      "y": 560,
      "wires": [
          [
              "7c1a56e4.a99a28",
              "5330fa75.b819f4",
              "6dbd6df0.c315c4",
              "41976bf9.5cce84",
              "22a252e1.cfa50e",
              "8a7d8828.df29c"
          ]
      ]
  },
  {
      "id": "5330fa75.b819f4",
      "type": "ui_gauge",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "86cc6b94.a24918",
      "order": 5,
      "width": 5,
      "height": 3,
      "gtype": "gage",
      "title": "Temperatura Actual",
      "label": "°C",
      "format": "{{msg.payload.tempc}}",
      "min": 0,
      "max": "40",
      "colors": [
          "#00b500",
          "#e6e600",
          "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 570,
      "y": 600,
      "wires": []
  },
  {
      "id": "41976bf9.5cce84",
      "type": "debug",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 550,
      "y": 680,
      "wires": []
  },
  {
      "id": "6dbd6df0.c315c4",
      "type": "ui_gauge",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "86cc6b94.a24918",
      "order": 12,
      "width": 5,
      "height": 3,
      "gtype": "gage",
      "title": "Humedad Actual",
      "label": "%",
      "format": "{{msg.payload.humidity}}",
      "min": 0,
      "max": "100",
      "colors": [
          "#00b500",
          "#e6e600",
          "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 570,
      "y": 640,
      "wires": []
  },
  {
      "id": "7c1a56e4.a99a28",
      "type": "ui_text",
      "z": "8f87f6f5.bb1508",
      "group": "86cc6b94.a24918",
      "order": 1,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Ciudad",
      "format": "{{msg.payload.location}}",
      "layout": "col-center",
      "x": 540,
      "y": 480,
      "wires": []
  },
  {
      "id": "c390bde2.0a33b",
      "type": "ui_text",
      "z": "8f87f6f5.bb1508",
      "group": "86cc6b94.a24918",
      "order": 2,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Detalle",
      "format": "{{msg.payload}}",
      "layout": "col-center",
      "x": 690,
      "y": 520,
      "wires": []
  },
  {
      "id": "22a252e1.cfa50e",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Mayúscula",
      "func": "const str = msg.payload.detail;\nconst str2 = str.charAt(0).toUpperCase() + str.slice(1);\nmsg.payload = str2;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 520,
      "wires": [
          [
              "c390bde2.0a33b"
          ]
      ]
  },
  {
      "id": "e4a9612e.f4381",
      "type": "openweathermap",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "wtype": "forecast",
      "lon": "",
      "lat": "",
      "city": "Santiago",
      "country": "Chile",
      "language": "es",
      "x": 340,
      "y": 1060,
      "wires": [
          [
              "eec636ce.999238"
          ]
      ]
  },
  {
      "id": "eec636ce.999238",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Obtener temperaturas",
      "func": "var temperatures = msg.payload.map(element => {\n    return({\n        \"x\": element.dt_txt,\n        \"y\": element.main.temp\n    })\n});\nmsg.payload = temperatures;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 580,
      "y": 1060,
      "wires": [
          [
              "66c95ca8.12bd24"
          ]
      ]
  },
  {
      "id": "dbb3b3a3.de0ee",
      "type": "ui_chart",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "7f573b28.76db94",
      "order": 18,
      "width": 0,
      "height": 0,
      "label": "Pronóstico Temperatura 5 Días",
      "chartType": "line",
      "legend": "false",
      "xformat": "HH:mm",
      "interpolate": "linear",
      "nodata": "No Data",
      "dot": false,
      "ymin": "0",
      "ymax": "40",
      "removeOlder": 1,
      "removeOlderPoints": "40",
      "removeOlderUnit": "60",
      "cutout": 0,
      "useOneColor": false,
      "useUTC": false,
      "colors": [
          "#1f77b4",
          "#aec7e8",
          "#ff7f0e",
          "#2ca02c",
          "#98df8a",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "outputs": 1,
      "useDifferentColor": false,
      "x": 1110,
      "y": 1020,
      "wires": [
          []
      ]
  },
  {
      "id": "66c95ca8.12bd24",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Formatear Datos",
      "func": "var data = msg.payload.map(element => {\n    return ({\n        \"x\": element.x,\n        \"y\": element.y\n    })\n})\ndata = [{\n    \"series\": [\"Temperatura\"],\n    \"data\": [data],\n    \"labels\": [\"\"]\n}]\nmsg.payload = data;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 830,
      "y": 1060,
      "wires": [
          [
              "dbb3b3a3.de0ee",
              "a68d5038.4935d"
          ]
      ]
  },
  {
      "id": "a68d5038.4935d",
      "type": "debug",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 1050,
      "y": 1080,
      "wires": []
  },
  {
      "id": "8607828d.01d4a",
      "type": "openweathermap",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "wtype": "current",
      "lon": "",
      "lat": "",
      "city": "Santiago",
      "country": "Chile",
      "language": "es",
      "x": 340,
      "y": 880,
      "wires": [
          [
              "a425be52.e69ca",
              "56b40aed.26dc54",
              "6394d5b8.46099c",
              "eef44c7c.a0645",
              "39e76a4d.2136e6",
              "87312959.89f43"
          ]
      ]
  },
  {
      "id": "56b40aed.26dc54",
      "type": "ui_gauge",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "7f573b28.76db94",
      "order": 5,
      "width": 5,
      "height": 3,
      "gtype": "gage",
      "title": "Temperatura Actual",
      "label": "°C",
      "format": "{{msg.payload.tempc}}",
      "min": 0,
      "max": "40",
      "colors": [
          "#00b500",
          "#e6e600",
          "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 570,
      "y": 920,
      "wires": []
  },
  {
      "id": "eef44c7c.a0645",
      "type": "debug",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 550,
      "y": 1000,
      "wires": []
  },
  {
      "id": "6394d5b8.46099c",
      "type": "ui_gauge",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "7f573b28.76db94",
      "order": 12,
      "width": 5,
      "height": 3,
      "gtype": "gage",
      "title": "Humedad Actual",
      "label": "%",
      "format": "{{msg.payload.humidity}}",
      "min": 0,
      "max": "100",
      "colors": [
          "#00b500",
          "#e6e600",
          "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 570,
      "y": 960,
      "wires": []
  },
  {
      "id": "a425be52.e69ca",
      "type": "ui_text",
      "z": "8f87f6f5.bb1508",
      "group": "7f573b28.76db94",
      "order": 1,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Ciudad",
      "format": "{{msg.payload.location}}",
      "layout": "col-center",
      "x": 540,
      "y": 800,
      "wires": []
  },
  {
      "id": "bbef54f9.00ca78",
      "type": "ui_text",
      "z": "8f87f6f5.bb1508",
      "group": "7f573b28.76db94",
      "order": 2,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Detalle",
      "format": "{{msg.payload}}",
      "layout": "col-center",
      "x": 690,
      "y": 840,
      "wires": []
  },
  {
      "id": "39e76a4d.2136e6",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Mayúscula",
      "func": "const str = msg.payload.detail;\nconst str2 = str.charAt(0).toUpperCase() + str.slice(1);\nmsg.payload = str2;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 840,
      "wires": [
          [
              "bbef54f9.00ca78"
          ]
      ]
  },
  {
      "id": "62cbcaf6.955674",
      "type": "openweathermap",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "wtype": "forecast",
      "lon": "",
      "lat": "",
      "city": "Concepcion",
      "country": "Chile",
      "language": "es",
      "x": 350,
      "y": 1380,
      "wires": [
          [
              "e09201a7.b253f"
          ]
      ]
  },
  {
      "id": "e09201a7.b253f",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Obtener temperaturas",
      "func": "var temperatures = msg.payload.map(element => {\n    return({\n        \"x\": element.dt_txt,\n        \"y\": element.main.temp\n    })\n});\nmsg.payload = temperatures;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 580,
      "y": 1380,
      "wires": [
          [
              "df459b74.f2db38"
          ]
      ]
  },
  {
      "id": "85beb810.48a5d8",
      "type": "ui_chart",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "351cacb4.412a44",
      "order": 18,
      "width": 0,
      "height": 0,
      "label": "Pronóstico Temperatura 5 Días",
      "chartType": "line",
      "legend": "false",
      "xformat": "HH:mm",
      "interpolate": "linear",
      "nodata": "No Data",
      "dot": false,
      "ymin": "0",
      "ymax": "40",
      "removeOlder": 1,
      "removeOlderPoints": "40",
      "removeOlderUnit": "60",
      "cutout": 0,
      "useOneColor": false,
      "useUTC": false,
      "colors": [
          "#1f77b4",
          "#aec7e8",
          "#ff7f0e",
          "#2ca02c",
          "#98df8a",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "outputs": 1,
      "useDifferentColor": false,
      "x": 1110,
      "y": 1340,
      "wires": [
          []
      ]
  },
  {
      "id": "df459b74.f2db38",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Formatear Datos",
      "func": "var data = msg.payload.map(element => {\n    return ({\n        \"x\": element.x,\n        \"y\": element.y\n    })\n})\ndata = [{\n    \"series\": [\"Temperatura\"],\n    \"data\": [data],\n    \"labels\": [\"\"]\n}]\nmsg.payload = data;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 830,
      "y": 1380,
      "wires": [
          [
              "85beb810.48a5d8",
              "cd24932f.f215a"
          ]
      ]
  },
  {
      "id": "cd24932f.f215a",
      "type": "debug",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 1050,
      "y": 1400,
      "wires": []
  },
  {
      "id": "22f20862.032068",
      "type": "openweathermap",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "wtype": "current",
      "lon": "",
      "lat": "",
      "city": "Concepcion",
      "country": "Chile",
      "language": "es",
      "x": 350,
      "y": 1160,
      "wires": [
          [
              "a583fcf9.5009f",
              "86a912d3.7953e",
              "568fe4bf.49f1fc",
              "8f76b256.cc7f2",
              "b6c5e2d9.ad029",
              "35e40b07.5de4a4"
          ]
      ]
  },
  {
      "id": "86a912d3.7953e",
      "type": "ui_gauge",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "351cacb4.412a44",
      "order": 5,
      "width": 5,
      "height": 3,
      "gtype": "gage",
      "title": "Temperatura Actual",
      "label": "°C",
      "format": "{{msg.payload.tempc}}",
      "min": 0,
      "max": "40",
      "colors": [
          "#00b500",
          "#e6e600",
          "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 570,
      "y": 1240,
      "wires": []
  },
  {
      "id": "8f76b256.cc7f2",
      "type": "debug",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 550,
      "y": 1320,
      "wires": []
  },
  {
      "id": "568fe4bf.49f1fc",
      "type": "ui_gauge",
      "z": "8f87f6f5.bb1508",
      "name": "",
      "group": "351cacb4.412a44",
      "order": 12,
      "width": 5,
      "height": 3,
      "gtype": "gage",
      "title": "Humedad Actual",
      "label": "%",
      "format": "{{msg.payload.humidity}}",
      "min": 0,
      "max": "100",
      "colors": [
          "#00b500",
          "#e6e600",
          "#ca3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 570,
      "y": 1280,
      "wires": []
  },
  {
      "id": "a583fcf9.5009f",
      "type": "ui_text",
      "z": "8f87f6f5.bb1508",
      "group": "351cacb4.412a44",
      "order": 1,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Ciudad",
      "format": "{{msg.payload.location}}",
      "layout": "col-center",
      "x": 540,
      "y": 1120,
      "wires": []
  },
  {
      "id": "4b6d4b0.5d504b4",
      "type": "ui_text",
      "z": "8f87f6f5.bb1508",
      "group": "351cacb4.412a44",
      "order": 2,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Detalle",
      "format": "{{msg.payload}}",
      "layout": "col-center",
      "x": 690,
      "y": 1160,
      "wires": []
  },
  {
      "id": "b6c5e2d9.ad029",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "Mayúscula",
      "func": "const str = msg.payload.detail;\nconst str2 = str.charAt(0).toUpperCase() + str.slice(1);\nmsg.payload = str2;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 1160,
      "wires": [
          [
              "4b6d4b0.5d504b4"
          ]
      ]
  },
  {
      "id": "8a7d8828.df29c",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "URL Icono",
      "func": "msg.payload = 'https://openweathermap.org/img/w/' + msg.payload.icon + '.png'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 560,
      "wires": [
          [
              "9cab9660.b62fe"
          ]
      ]
  },
  {
      "id": "9cab9660.b62fe",
      "type": "ui_template",
      "z": "8f87f6f5.bb1508",
      "group": "86cc6b94.a24918",
      "name": "Icono",
      "order": 3,
      "width": 0,
      "height": 0,
      "format": "<div style=\"margin: 0 auto;\">\n    <img src=\"{{msg.payload}}\" \n         alt=\"icono\"/>\n</div>\n",
      "storeOutMessages": true,
      "fwdInMessages": true,
      "resendOnRefresh": true,
      "templateScope": "local",
      "x": 690,
      "y": 560,
      "wires": [
          []
      ]
  },
  {
      "id": "1d9b83de.ab98bc",
      "type": "ui_template",
      "z": "8f87f6f5.bb1508",
      "group": "7f573b28.76db94",
      "name": "Icono",
      "order": 3,
      "width": 7,
      "height": 1,
      "format": "<div style=\"margin: 0 auto;\">\n    <img src=\"{{msg.payload}}\" \n         alt=\"icono\"/>\n</div>",
      "storeOutMessages": true,
      "fwdInMessages": true,
      "resendOnRefresh": true,
      "templateScope": "local",
      "x": 690,
      "y": 880,
      "wires": [
          []
      ]
  },
  {
      "id": "87312959.89f43",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "URL Icono",
      "func": "msg.payload = 'https://openweathermap.org/img/w/' + msg.payload.icon + '.png'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 880,
      "wires": [
          [
              "1d9b83de.ab98bc"
          ]
      ]
  },
  {
      "id": "7ab93bdc.b0e534",
      "type": "ui_template",
      "z": "8f87f6f5.bb1508",
      "group": "351cacb4.412a44",
      "name": "Icono",
      "order": 3,
      "width": 0,
      "height": 0,
      "format": "<div style=\"margin: 0 auto;\">\n    <img src=\"{{msg.payload}}\" \n         alt=\"icono\"/>\n</div>",
      "storeOutMessages": true,
      "fwdInMessages": true,
      "resendOnRefresh": true,
      "templateScope": "local",
      "x": 690,
      "y": 1200,
      "wires": [
          []
      ]
  },
  {
      "id": "35e40b07.5de4a4",
      "type": "function",
      "z": "8f87f6f5.bb1508",
      "name": "URL Icono",
      "func": "msg.payload = 'https://openweathermap.org/img/w/' + msg.payload.icon + '.png'\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 1200,
      "wires": [
          [
              "7ab93bdc.b0e534"
          ]
      ]
  },
  {
      "id": "86cc6b94.a24918",
      "type": "ui_group",
      "name": "Forecast 1",
      "tab": "667582af.57056c",
      "order": 2,
      "disp": false,
      "width": 7,
      "collapse": false
  },
  {
      "id": "7f573b28.76db94",
      "type": "ui_group",
      "name": "Forecast 2",
      "tab": "667582af.57056c",
      "order": 2,
      "disp": false,
      "width": 7,
      "collapse": false
  },
  {
      "id": "351cacb4.412a44",
      "type": "ui_group",
      "name": "Forecast 3",
      "tab": "667582af.57056c",
      "order": 3,
      "disp": false,
      "width": 7,
      "collapse": false
  },
  {
      "id": "667582af.57056c",
      "type": "ui_tab",
      "name": "Weather API",
      "icon": "dashboard",
      "order": 2,
      "disabled": false,
      "hidden": false
  }
]